@charset "UTF-8";
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes flatware-anim {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translate(0, 2rem);
  }
  50% {
    opacity: 0;
    visibility: hidden;
    transform: translate(0, 1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes shake {
  0% {
    transform: rotate(0) scale(1);
  }
  20% {
    transform: rotate -10deg;
  }
  40% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-20deg);
  }
  80% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0) scale(1.5);
  }
}
@keyframes clignote {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.4);
  }
  50% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.6);
  }
  100% {
    transform: scale(1);
  }
}
body {
  margin: 0;
  padding: 0;
  background-color: #60d2d6;
}
body.dark {
  background-color: #0b2b2c;
  color: white;
}

main {
  width: 80%;
  margin: 1rem auto;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Font Awesome 5";
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("../fonts/fa-solid-900.eot");
  src: url("../fonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-solid-900.woff2") format("woff2"), url("../fonts/fa-solid-900.woff") format("woff"), url("../fonts/fa-solid-900.ttf") format("truetype"), url("../fonts/fa-solid-900.svg#fontawesome") format("svg");
}
@font-face {
  font-family: "Font Awesome 5 empty";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../fonts/fa-regular-400.eot");
  src: url("../fonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-regular-400.woff2") format("woff2"), url("../fonts/fa-regular-400.woff") format("woff"), url("../fonts/fa-regular-400.ttf") format("truetype"), url("../fonts/fa-regular-400.svg#fontawesome") format("svg");
}
@font-face {
  font-family: "Font Awesome 5 brands";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../fonts/fa-brands-400.eot");
  src: url("../fonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-brands-400.woff2") format("woff2"), url("../fonts/fa-brands-400.woff") format("woff"), url("../fonts/fa-brands-400.ttf") format("truetype"), url("../fonts/fa-brands-400.svg#fontawesome") format("svg");
}
a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 1.2rem;
}

.arrow-up {
  display: none;
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  width: 3rem;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.7);
}
.arrow-up.appears {
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow-up div {
  color: white;
}
.arrow-up div::before {
  content: "";
  font-family: "Font Awesome 5";
  font-weight: 900;
  font-size: 1.4em;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border: solid #676bc0;
  color: #676bc0;
  background-color: white;
  text-shadow: 1px 1px 1px black;
  border-radius: 30px;
  box-shadow: 2px 2px 8px black;
  width: 4rem;
  height: 1.2rem;
  transition: transform 0.5s ease-in;
}
.btn:hover {
  transform: scale(1.3);
}

.btn-onOff {
  position: relative;
  background-color: #75e391;
  display: flex;
  align-items: center;
  width: 4rem;
  height: 2rem;
  border-radius: 20px;
  border: solid black;
}
.btn-onOff__switch {
  background-color: #18742f;
  color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: solid black;
  transition: transform 300ms ease-in;
  margin-left: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-onOff__switch.switched {
  transform: translateX(2rem);
}

.icones {
  display: flex;
  justify-content: space-between;
}

.coeur {
  margin: 2rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.coeur div::before {
  content: "";
  font-family: "Font Awesome 5";
  font-weight: 900;
  font-size: 2rem;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  color: #a32913;
}
.coeur div:hover {
  animation: clignote 2s ease-in-out infinite forwards;
}

.death {
  margin: 2rem;
  width: 4rem;
  height: 4rem;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.death div::before {
  content: "";
  font-family: "Font Awesome 5";
  font-weight: 900;
  font-size: 2rem;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  color: white;
}
.death div:hover {
  animation: clignote 2s ease-in-out infinite forwards;
}

.reseaux__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border: solid #676bc0;
  color: #676bc0;
  background-color: white;
  text-shadow: 1px 1px 1px black;
  border-radius: 30px;
  box-shadow: 2px 2px 8px black;
  width: 9rem;
  height: 2.3rem;
  text-shadow: none;
  border: solid black;
}
.reseaux__btn__logo {
  position: relative;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.reseaux__btn h3 {
  margin-left: 0.2rem;
  font-size: 1.4rem;
  color: black;
}
.reseaux__btn:hover {
  animation: shake 1s ease-in-out forwards;
}

#twitter .reseaux__btn__logo div::before {
  content: "";
  font-family: "Font Awesome 5 brands";
  font-weight: 400;
  font-size: 1.8rem;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  color: #00acee;
}

#facebook .reseaux__btn__logo div::before {
  content: "";
  font-family: "Font Awesome 5 brands";
  font-weight: 400;
  font-size: 1.8rem;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  color: #3b5998;
}

#instagram .reseaux__btn__logo div::before {
  content: "";
  font-family: "Font Awesome 5 brands";
  font-weight: 400;
  font-size: 1.8rem;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  background: -webkit-linear-gradient(49.2deg, #f9ed32 10%, #ee2a7b 55%, #002aff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#linkedin .reseaux__btn__logo div::before {
  content: "";
  font-family: "Font Awesome 5 brands";
  font-weight: 400;
  font-size: 1.8rem;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  color: #007BB5;
}

#tiktok .reseaux__btn__logo {
  background-color: black;
  border-radius: 5px;
}
#tiktok .reseaux__btn__logo::after {
  content: "";
  font-family: "Font Awesome 5 brands";
  font-weight: 400;
  font-size: 1.2rem;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  color: #ff0050;
}
#tiktok .reseaux__btn__logo div::before {
  content: "";
  font-family: "Font Awesome 5 brands";
  font-weight: 400;
  font-size: 1.2rem;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  position: absolute;
  color: #00f2ea;
  top: 4px;
  right: 7px;
}
#tiktok .reseaux__btn__logo div::after {
  content: "";
  font-family: "Font Awesome 5 brands";
  font-weight: 400;
  font-size: 1.2rem;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  position: absolute;
  color: white;
  top: 5px;
  right: 5px;
}

#youtube .reseaux__btn__logo div::before {
  content: "";
  font-family: "Font Awesome 5 brands";
  font-weight: 400;
  font-size: 1.8rem;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  color: #c4302b;
}

.container {
  max-width: 1920px;
  min-width: 320px;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  width: 80%;
  margin: 1rem auto 2rem;
}

.reseaux {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

header {
  margin: 2rem auto;
  width: 80%;
  display: flex;
}

.loader {
  position: fixed;
  z-index: 99;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeOut 3s forwards;
}
.loader-anim {
  width: 20rem;
  height: 20rem;
  position: relative;
}
.loader-anim__spin {
  display: block;
  position: absolute;
  margin: 2rem;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  border: 8px solid transparent;
  border-top-color: #60d2d6;
  animation: spin 2s linear 10;
}
.loader-anim__spin::before {
  content: "";
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  bottom: 0.2rem;
  left: 0.2rem;
  border-radius: 50%;
  border: 8px solid transparent;
  border-top-color: #2ba1a5;
  animation: spin 3s linear 7;
}
.loader-anim__spin::after {
  content: "";
  position: absolute;
  top: 0.9rem;
  right: 0.9rem;
  bottom: 0.9rem;
  left: 0.9rem;
  border-radius: 50%;
  border: 8px solid transparent;
  border-top-color: #165254;
  animation: spin 1.5s linear 15;
}
.loader-anim__flatware {
  width: 100%;
  height: 100%;
  position: relative;
}
.loader-anim__flatware div {
  position: absolute;
  top: 14.5rem;
  right: 9rem;
  transform-origin: 0.5rem -4rem;
  animation: flatware-anim 1.2s linear 20;
  background-color: #60d2d6;
  width: 1rem;
  height: 5rem;
  border-radius: 10px;
}
.loader-anim__flatware div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.loader-anim__flatware div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.loader-anim__flatware div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.loader-anim__flatware div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.loader-anim__flatware div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.loader-anim__flatware div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.loader-anim__flatware div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.loader-anim__flatware div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.loader-anim__flatware div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.loader-anim__flatware div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.loader-anim__flatware div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.loader-anim__flatware div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

.tabs {
  width: 90%;
  max-width: 40rem;
  display: flex;
}
.tabs li {
  border: solid #165254;
  border-bottom: none;
  border-radius: 20px 20px 0 0;
  padding: 1rem;
}
.tabs li a {
  color: #165254;
}
.tabs__content {
  display: none;
  padding: 1rem;
}
.tabs__content.active {
  display: block;
  background-color: #165254;
  color: white;
}
.tabs .active {
  background-color: #165254;
  color: white;
}
.tabs .active a {
  color: white;
}

.blue {
  background-color: royalblue;
}

.red {
  color: salmon;
}

.green {
  background-color: seagreen;
}

.external {
  color: white;
}

.binaire {
  margin: 1rem auto;
}

/*# sourceMappingURL=style.css.map */
