@keyframes spin {
    0%{
       transform: rotate(0deg);
    }
    100%{
       transform: rotate(360deg);
    }
}

@keyframes flatware-anim {
    0%{
        opacity: .7;
    }
    100%{
        opacity: 0;
    }
}

@keyframes fadeOut {
    50%{
        opacity: 1;
    }
    100%{
       opacity: 0;
       visibility: hidden;
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
        visibility: hidden;
        transform: translate(0, 2rem);
    }
    50%{
        opacity: 0;
        visibility: hidden;
        transform: translate(0, 1rem);
    }
    100%{
       opacity: 1;
       transform: translate(0, 0);  
    }
}

@keyframes shake {
    0%{
        transform: rotate(0) scale(1);
    }
    20%{
        transform: rotate (-10deg);
    }
    40%{
        transform: rotate(10deg);
    }
    60%{
        transform: rotate(-20deg);
    }
    80%{
        transform: rotate(20deg);
    }
    100%{
        transform: rotate(0) scale(1.5);
    }
}

@keyframes clignote {
    0%{
        transform: scale(1);
    }
    30%{
        transform: scale(1.4);
    }
    50%{
        transform: scale(1);
    }
    70%{
        transform: scale(1.6);
    }
    100%{
        transform: scale(1);
    }
}